* {
  box-sizing: border-box;
  font-size: 10px;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0
}

main {
  display: flex;
  flex-direction: column;
  background: silver;
  border: 2px solid grey;
  border-top: solid snow;
  border-left: solid snow;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  border: 2px solid grey;
  border-bottom: solid snow;
  border-right: solid snow;
  margin: 5px 5px 0px 5px;
  padding: 10px;
}

.headerelement {
  padding: 2px;
  margin: 0;
  height: 30px;
  width: 30px;
}

#grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 5px;
}

.smileyooh {
  background: url('./images/smiley-ooh.png') no-repeat;
  background-size: contain;
}

.smiley {
  background: url('./images/smiley.png') no-repeat;
  background-size: contain;
}

.smileydown {
  background: url('./images/smiley-down.png') no-repeat;
  background-size: contain;
}

.smileydead {
  background: url('./images/smiley-dead.png') no-repeat;
  background-size: contain;
}

.facingDown {
  background: url('./images/facingDown.png') no-repeat;
  background-size: contain;
}

.revealed {
  background: url('./images/0.png') no-repeat;
  background-size: contain;
}

._0 {
  background: url('./images/0.png') no-repeat;
  background-size: contain;
}

._1 {
  background: url('./images/1.png') no-repeat;
  background-size: contain;
}

._2 {
  background: url('./images/2.png') no-repeat;
  background-size: contain;
}

._3 {
  background: url('./images/3.png') no-repeat;
  background-size: contain;
}

._4 {
  background: url('./images/4.png') no-repeat;
  background-size: contain;
}

._5 {
  background: url('./images/5.png') no-repeat;
  background-size: contain;
}

._6 {
  background: url('./images/6.png') no-repeat;
  background-size: contain;
}

._7 {
  background: url('./images/7.png') no-repeat;
  background-size: contain;
}

._8 {
  background: url('./images/8.png') no-repeat;
  background-size: contain;
}

.mine {
  background: url('./images/0.png') no-repeat;
  background-size: contain;
  content: url('./images/bomb.png');
  position: relative;
}

.minedead {
  background: red;
  background-size: contain;
  content: url('./images/bomb.png');
  position: relative;
}

.minewrong {
  background: url('./images/0.png') no-repeat;
  background-size: contain;
  content: url('./images/bomb-wrong.png');
  position: relative;
}

.flagged {
  background: url('./images/flagged.png') no-repeat;
  background-size: contain;
}