* {
  box-sizing: border-box;
  font-size: 10px;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0
}

main {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  background: lightgray;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  border: 1px solid black;
  margin: 5px 5px 0px 5px;
  padding: 10px;
}

.headerelement {
  border: 1px solid black;
  padding: 2px;
  margin: 0;
}

#grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 5px;
}


.facingDown {
  background: url('./images/facingDown.png') no-repeat;
  background-size: contain;
}

.revealed {
  background: url('./images/0.png') no-repeat;
  background-size: contain;
}

.flagged {
  background: url('./images/flagged.png') no-repeat;
  background-size: contain;
}

.mine {
  background: url('./images/0.png') no-repeat;
  background-size: contain;
  content: url('./images/bomb.png');
  position: relative;
}

.dead {
  background: red;
}